extend templates/_template.pug
block contenido_template
    main
        section(class="grid-container blogpost-img-container")
            img(src="./assets/img/post-1.png", alt="imagen")
        section.blogpost-main-container
            div.grid-container 
                h3 Noticias
                article 
                    h1 Titulo de Blogpost
                    p 
                        |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, laboriosam, ducimus id sint laborum pariatur quae vel sit quasi hic temporibus, atque iusto placeat ullam possimus modi veniam tempora rerum?
                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores illo enim ipsum placeat? Ratione praesentium, voluptatem excepturi quasi quo illo, atque ad inventore culpa fugiat iure saepe? Fuga, assumenda?
                    p 
                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa fugiat expedita perferendis esse saepe illo ut neque maxime nemo debitis hic, est, culpa commodi? Sed veritatis soluta nisi? Consequatur?
                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa fugiat expedita perferendis esse saepe illo ut neque maxime nemo debitis hic, est, culpa commodi? Sed veritatis soluta nisi? Consequatur?
                    p 
                        |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt fuga, quo minima quibusdam expedita maxime, id ab at placeat voluptatibus tempora perferendis reprehenderit quasi aspernatur inventore delectus rerum ipsum quae.
                        |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt fuga, quo minima quibusdam expedita maxime, id ab at placeat voluptatibus tempora perferendis reprehenderit quasi aspernatur inventore delectus rerum ipsum quae.
        section.blogpost-contact-container
            section(class="grid-container contact-container")
                div 
                    img(src="./assets/img/013-newsletter.png", alt="contact")
                    div.contact-left 
                        a(href="") Contacto
                        p Lorem ipsum dolor sit amet consectetur.<br>  ipsum dolor sit amet consectetur.
                div 
                    img(src="./assets/img/006-like.png", alt="heart")
                    div.contact-right
                        a(href="") Escribe
                        p Lorem ipsum dolor sit amet consectetur.<br> ipsum dolor sit amet consectetur.