extend templates/_template.pug
block contenido_template
    section.hero
        h1.hero-title Conoce las novedades y noticias del mundo Tech 
        a(href="/blogs.html") 
            button.hero-button Entra ya!