footer{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    section:first-child{
        width: 100%;
        height: 50px;
        background-color: $primary-color;
    }
    section:last-child{
        width: 100%;
        background-color: $secondary-color;
        height: auto;
        p{
            padding:0 2rem;
            margin:30px auto;
            text-align: center;
        }
    }
}