header.header
    section(class="header-icons-container")
        div(class="grid-container icons") 
            a(href="/"): figure.flaticon-001-facebook
            a(href="/"): figure.flaticon-002-twitter
            a(href="/"): figure.flaticon-011-instagram
            a(href="/"): figure.flaticon-010-linkedin
            a(href="/"): figure.flaticon-003-whatsapp
    nav(class="header-nav")
        section.nav-logo-container
            a(href="./index.html"): img(src="./assets/img/Logo-negro.png" alt="Logo del blog" title="Logo del blog")
        section.nav-profile-link
            a(href="./perfil.html") Sobre mí